* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    padding: 60px 0px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;

}

/* HEADER*/
header {
    width: 100%;
    height: 600px;
    background: #f12711;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af1998, #f1271196), url(../vista/portada.png);
    );
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af1998, #f1271196), url(../vista/portada.png);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: right;
    padding: 30px 50px 0px 0px;
}

nav>a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-right: 10px;
}

nav>a:hover {
    text-decoration: underline;
}

header .Textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.Textos-header h1 {
    font-size: 50px;
    color: white;
}

.Textos-header h2 {
    font-size: 30px;
    font-weight: normal;
    color: white;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us
    */
.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;

}

.imagen-about-us {
    width: 48%;
}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido.textos h3 {
    margin-bottom: 15px;
}

.contenido-textos h3 span {
    background: #4d0686;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 4px;
    margin-right: 5px;
}


.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* GALERIA*/

.portafolio {
    background: #f2f2f2;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {

    margin-bottom: 10px;
    height: 350px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, .5);

}

.imagen-port>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;


}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img {
    width: 50px;
}

.hover-galeria p {
    color: white;
}

.hover-galeria p a {
    color: white;
    text-decoration: none;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

/* CLIENTES*/
.cards {
    display: flex;
    justify-content: space-evenly;

}

.cards .card {
    background:#642a73 ;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}

.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 50%;
    display: block;
}

.cards .card>.contenido-texto-card {
    width: 60%;
    color: white;
}

.cards .card>.contenido-texto-card p {
    font-weight: 300;
    padding-top: 15px;
}

/*FOOTER*/
footer {
    background: grey;
    padding: 60px 0px 30px 0px;
    margin: 2px;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}

.content-foo {
    text-align: center;

}

.content-foo h4 {
    color: white;
    border-bottom: 3px solid violet;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: white;
}

/* PAG PRODUCTOS Y SERVICIOS*/
.contenedor-tabla {
    width: 90%;
    background: white;
    margin: 50px auto;
    box-shadow: 0 0 20px #333;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;

}

.table-title {
    grid-column-start: 1;
    grid-column-end: 4;
    background: rgba(0, 0, 255, 0.644);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9rem;

}

.table-header,
.table-item {
    display: flex;
    justify-content: center;
    align-items: center;

}

.table-header {

    font-weight: bold;
    font-size: 1.5rem;
}

.table-item {
    padding: 10px;
    font-size: 1.2rem;

}

/* PAG CONTACTOS*/
.body-contacto {
    width: 100%;
    height: 600px;
    background: #f12711;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af1998, #f1271196), url(../vista/portada.png);
   
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af1998, #f1271196),url(../vista/portada.png);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:end;
    align-items: flex-end;
}
.body-contacto h1{
    text-align: center;
    margin: 10px 0;
    font-weight:800;
}
form{ background: white;
    width: 100vh;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);

}
.form{
    width: 100%;
    margin: auto;
}
form .grupo{
    position: relative;
    margin: 45px;
}
input, textarea{
    background: none;
    color: gray;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
display: block;
width: 100%;
border:none;
border-bottom: 1px solid gray;
}
input:focus,textarea:focus{
    outline: none;
    color: gray;
}
label{
    color:gray;
    font-size: 16px;
    position: absolute;
    left: 5px;
    top:10px;
 pointer-events: none;


}
.nav-contacto{
    background: #FC5C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
}

/* MEDIA QUERI*/
@media screen and (max-width:320px) {
body{
    font-family:Arial, Helvetica, sans-serif;
}
    
}
