@import"./media-queries";

.footerServ{
    background: grey;
    padding: 60px 0px 30px 0px;
    margin: 2px;
    overflow: hidden;
    .footerServ__contenedor{
        display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
    }
    .footerServ__content{
        text-align: center;
    }
    .footerServ__content h4{
        color: white;
        border-bottom: 3px solid violet;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
    .footerServ__content p{
        color: white;
    }
    
}