.footercontacto{
    background: grey;
    padding: 60px 0px 30px 0px;
    margin: 2px;
    overflow: hidden;
.footercontacto__contenedor{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
    @include celular{
        flex-direction: column;
    }
}
.footercontacto__content{
    text-align: center;
}
.footercontacto__content h4{
    color: white;
        border-bottom: 3px solid violet;
        padding-bottom: 5px;
        margin-bottom: 10px;
}
.footercontacto__content p{
    color: white;
}
}