
@import"./media-queries";

.informacion{
    display: flex;
    justify-content: space-evenly;
    

    .informacion__contenedor{
        display: flex;
        
    }
    .informacion__img{
        width: 48%;
        @include celular{
            display: none;
        }
    }
    .informacion__textos{
        width: 48%;
        @include celular{
            margin: auto;
            padding: 5px;
            text-align: center;
            width: auto;
            height: auto;
        }
    }
    .informacion__titulo{
        color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    
    }
    .informacion__cont{
        padding: 60px 0px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    }
    .informacion__textos h3{
        margin-bottom: 15px;
        
    }
    .informacion__textos h3 span{
        background: #4d0686;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 0px;
    margin-right: 5px;
    }
    .informacion__textos p{
        padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    }
}