@import"./media-queries";

.navbar{
    @include celular{
        padding-top: 0px;
    }
    @include tablet{
padding-top:0px;
    }
}
.navbar-light .navbar-nav .nav-link {
    @include tablet{
        color: white;
    }
    @include celular{
        color: white;
    }
}
.navbar-light .navbar-nav .nav-link.active{
    @include tablet{
        color: white;
    
    }
    @include celular{
        color: white;
    }
    
}
.nav-item{
   @include tablet{
    
text-align: center;
justify-content: center;
color: white;
   }
   @include celular{
    text-align: center;
    justify-content: center;
    color: white;
   }
   @include tablet{
    text-align: center ; 
    justify-content: center;
    color: white
   }

}
.navbar-light .navbar-brand{
    @include tablet{ 
       text-align: center ; 
       justify-content: center;
       color: white;
    }
    @include celular{
        text-align: center ; 
       justify-content: center;
       color: white;
    }
    @include laptop{
        text-align: center ; 
       justify-content: center;
       color: white
    }
}
.container-fluid{
    @include tablet{
        background: linear-gradient(to right,#f5af1998, #f1271196 ) ;
        background-size: cover;
        background-attachment: fixed;
        position: relative;}
        @include celular{
            background: linear-gradient(to right,#f5af1998, #f1271196 ) ;
        background-size: cover;
        background-attachment: fixed;
        position: relative;}
        
}
.navbar-light .navbar-toggler{
    @include tablet{
        color: white;
    }
    @include celular{
        color: white;
    }
}

.navbar-dark{
    background: linear-gradient(to right,#f5af1998, #f1271196 ) ;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
       
        
    @include tablet{
        background: linear-gradient(to right,#f5af1998, #f1271196 ) ;
        background-size: cover;
        background-attachment: fixed;
        position:relative;
        

    }
    @include celular{
        background: linear-gradient(to right,#f5af1998, #f1271196 ) ;
        background-size: cover;
        background-attachment: fixed;
        position:relative;
       
      
    }
    @include laptop{
        text-align: center ; 
       justify-content: center;
       color:black
    }
}





